html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  text-decoration: none;
  display: inline-block;

  border-radius: 45px;
  padding: 5px;
  font-size: 11px;
  text-align: center;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
button:hover {
  background: #9fe52e86;
  color: white;
  /* transform: translateY(-7px); */
}
ul {
  list-style: none;
}
